.highlight {
  background-color: #ffe787;
}
/* Remove browser defaults */
button,
button:active,
button:focus,
input[type="submit"],
input[type="submit"]:active,
input[type="submit"]:focus {
  border-style: solid;
  border-width: 0px;
  box-shadow: 0;
  outline: none;
}
.button,
a.button,
button,
input[type=submit],
input[type=button] {
  background-color: #b60d34;
  color: white;
  letter-spacing: .15rem;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  font-size: 1.6rem;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-radius: 2px;
  padding: 8px;
  padding-left: 12px;
  padding-right: 12px;
  display: inline-block;
  /* Animation for hover */
  transition: all .2s linear;
  -o-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear;
}
.button.small,
a.button.small,
button.small,
input[type=submit].small,
input[type=button].small {
  font-size: 60%;
}
.button.default,
a.button.default,
button.default,
input[type=submit].default,
input[type=button].default {
  font-size: 100%;
}
.button.large,
a.button.large,
button.large,
input[type=submit].large,
input[type=button].large {
  font-size: 130%;
}
.button:link,
a.button:link,
button:link,
input[type=submit]:link,
input[type=button]:link {
  color: white;
  border-bottom: 0px;
}
.button:hover,
a.button:hover,
button:hover,
input[type=submit]:hover,
input[type=button]:hover {
  background-color: #920a2a;
  color: white;
}
.button:active,
a.button:active,
button:active,
input[type=submit]:active,
input[type=button]:active {
  background-color: #7f0924;
  color: white;
}
.button.green,
a.button.green,
button.green,
input[type=submit].green,
input[type=button].green {
  background-color: #2ecc40;
}
.button.green:hover,
a.button.green:hover,
button.green:hover,
input[type=submit].green:hover,
input[type=button].green:hover {
  background-color: #25a333;
}
.button.green:active,
a.button.green:active,
button.green:active,
input[type=submit].green:active,
input[type=button].green:active {
  background-color: #208f2d;
}
.button.loading,
a.button.loading,
button.loading,
input[type=submit].loading,
input[type=button].loading {
  color: white;
  background: #dddddd url('//d2v9gwqwifvt42.cloudfront.net/texture-strange-bullseyes.png') repeat 0 0;
  -webkit-animation: slide 20s linear infinite;
  cursor: wait;
}
.button.loading:hover,
a.button.loading:hover,
button.loading:hover,
input[type=submit].loading:hover,
input[type=button].loading:hover {
  color: white;
}
@-webkit-keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -400px 0;
  }
}
