.highlight {
  background-color: #ffe787;
}
.primary-block {
  width: 100px;
  height: 100px;
}
.secondary-block {
  width: 50px;
  height: 50px;
}
.logo-monogram {
  width: 89px;
  padding: 10px;
}
.logo-crest {
  width: 167px;
  padding: 10px;
}
.primary {
  background-color: #b60d34;
}
.grey {
  background-color: #aaaaaa;
}
.black {
  background-color: #111111;
}
.tiles div {
  display: inline-block;
}
.primary-block-light {
  background-color: #e61042;
}
.primary-block {
  background-color: #b60d34;
}
.primary-block-dark {
  background-color: #860a26;
}
