.serif {
  font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
}
.sans {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.heading {
  font-family: Karla;
}
.code {
  font-family: Consolas, courier, monospace;
}
