.highlight {
  background-color: #ffe787;
}
.serif {
  font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
}
.sans {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.heading {
  font-family: Karla;
}
.code {
  font-family: Consolas, courier, monospace;
}
table,
th,
td {
  border: none;
  font-size: 15px;
  font-size: 1.5rem;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
table {
  width: 100%;
  display: table;
}
table.bordered tr {
  border-bottom: 1px solid #aaaaaa;
}
table.striped tbody tr:nth-child(odd) {
  background-color: #dddddd;
}
table.hoverable tbody tr:hover {
  background-color: #dddddd;
}
table.centered thead tr th,
table.centered tbody tr td {
  text-align: center;
}
thead {
  border-bottom: 1px solid #999;
}
td,
th {
  padding: 5px 5px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
}
