.highlight {
  background-color: #ffe787;
}
.serif {
  font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
}
.sans {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.heading {
  font-family: Karla;
}
.code {
  font-family: Consolas, courier, monospace;
}
html {
  /*
  http://snook.ca/archives/html_and_css/font-size-with-rem
  The rem unit is relative to the root - the html element

  Because all browsers have a default font-size of 16px, setting the font-size to 62.5% on the html
  element gives it a font-size of 10px (10 / 16 * 100 = 62.5)

  */
  font-size: 62.5%;
  /* base 10 */
  color: #111111;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/*
This 1.6rem is causing zoome issues in chrome
Disabling in favor of body > div selector
Notes: http://stackoverflow.com/questions/20099844/chrome-not-respecting-rem-font-size-on-body-tag
https://bountify.co/identify-the-source-of-this-odd-text-sizing-issue-chrome
*/
/*
body {
  font-size:16px;
  font-size:1.6rem;
  background-color:white;
}
*/
body > div {
  font-size: 20px;
  font-size: 2.0rem;
}
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 1rem;
  margin-top: 5rem;
  padding: 0;
  line-height: 1;
  font-family: Karla;
  color: #111111;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}
h1 {
  font-size: 4.0rem;
}
h2 {
  font-size: 3.0rem;
}
h3 {
  font-size: 2.0rem;
}
h4 {
  font-size: 2.0rem;
}
h5 {
  font-size: 2.0rem;
}
h6 {
  font-size: 2.0rem;
}
/* Copy */
p,
ul,
ol {
  line-height: 1.7;
  margin: 0;
  font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
}
/*
u = underline
g = greyscale 
b = bold
o = outline, make it look like a button
*/
/* Links */
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #b60d34;
  font-weight: regular;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #b60d34;
}
a:link.n,
a:visited.n,
a:hover.n,
a:active.n {
  border-bottom-width: 0px;
}
a:link.g,
a:visited.g,
a:hover.g,
a:active.g {
  border-bottom-color: #aaaaaa;
  color: #111111;
}
a:link.b,
a:visited.b,
a:hover.b,
a:active.b {
  font-weight: bold;
}
a:link.o,
a:visited.o,
a:hover.o,
a:active.o {
  border: 1px solid #dddddd;
  padding: 10px;
  border-radius: 25px;
}
a:link.o:hover,
a:visited.o:hover,
a:hover.o:hover,
a:active.o:hover {
  background-color: #eaeaea;
  border-color: #dddddd;
}
a:link:hover,
a:visited:hover,
a:hover:hover,
a:active:hover {
  color: #860a26;
  border-bottom-color: #860a26;
}
/* Lists */
ul,
ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
ul li,
ol li {
  line-height: 1.7;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
/* Quotes */
blockquote {
  line-height: 1.7;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-style: italic;
  font-family: Karla;
}
