// Palette
@primary: #ff4b3e;
@secondary: #AAAAAA;

// Grays
@black:  #111;
@grey:   #aaa;
@gray:   #aaa;
@silver: #ddd;
@white:  #fff;

// UX
@red:#B71C1C;
@green:#2ECC40;
@orange:#FFC107;
@yellow:#FFE548;
@highlight:#FFE787;

.highlight {
    background-color:@highlight;
}
