/*
Basic page structure:
<body>
    <nav></nav>
    <div class='layout-wrapper'>
        This will default to centered jello; overwrite on individual pages if you want a full layout
    </div>
    <footer></footer>
</body>
*/

@footer-height:100px;

html {
    /* Start sticky footer essentials */
    /* http://mystrd.at/modern-clean-css-sticky-footer/ */
    position:relative;
    min-height:100%;
    /* End sticky footer essentials */
}

body {
    padding:0;
    margin:0;
    margin:0 0 @footer-height; /* bottom = footer height; sticky footer essential */

}

menu {
    margin:0;
    background-color:#eee;
    padding:5px;
    font-size:15px;
    font-size:1.5rem;
    text-align:center;
}

/*
Main content of the page goes here;
Default to classic centered container, may be overwritten on individual pages
*/
#layout-wrapper {
    margin:auto;
    max-width:960px;
    width:85%;
    padding-top:20px;
    padding-bottom:20px;
}

footer {
    /* Start sticky footer essentails */
    position:absolute;
    left:0;
    bottom:0;
    height:@footer-height;
    width:100%;
    /* End sticky footer essentails */

    padding-top:10px;

    line-height:1.5;
    font-size:15px;
    font-size:1.5rem;
    background-color:#eee;
    text-align:center;
}