html {
  /*
  http://snook.ca/archives/html_and_css/font-size-with-rem
  The rem unit is relative to the root - the html element

  Because all browsers have a default font-size of 16px, setting the font-size to 62.5% on the html
  element gives it a font-size of 10px (10 / 16 * 100 = 62.5)

  */
  font-size:62.5%; /* base 10 */
  color:@black;
  font-family: 'Karla','Helvetica Neue', Helvetica, Arial, sans-serif;
}

/*
This 1.6rem is causing zoome issues in chrome
Disabling in favor of body > div selector
Notes: http://stackoverflow.com/questions/20099844/chrome-not-respecting-rem-font-size-on-body-tag
https://bountify.co/identify-the-source-of-this-odd-text-sizing-issue-chrome
*/
/*
body {
  font-size:16px;
  font-size:1.6rem;
  background-color:white;
}
*/

body > div {
  font-size:20px;
  font-size:2.0rem;
}



/* Headings */
h1,h2,h3,h4,h5,h6 {
  margin:0;
  margin-bottom:1rem;
  padding:0;
  line-height:1;
}
h1 {
  font-size: 4.0rem;
}
h2 {
  font-size: 3.0rem;
}
h3 {
  font-size: 2.0rem;
}
h4 {
  font-size: 2.0rem;
}
h5 {
  font-size: 2.0rem;
}
h6 {
  font-size: 2.0rem;
}

/* Copy */
p {
  line-height: 1.7;
  margin:0;
  font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
}

a:link {
  color:@black;
}

a:visited {
  color:@black;
}

a:hover {
  color:@black;
}

a:active {
  color:@black;
}