@serif: Georgia, Cambria, 'Times New Roman', Times, serif;
@sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
@heading: Karla;
@code: Consolas, courier, monospace;

.serif { 
    font-family:@serif;
}

.sans {
    font-family:@sans;
}

.heading {
    font-family:@heading;
}

.code {
    font-family:@code;
} 