@import "colors";
@import "fonts";

/* Placeholder attribute styling */
/* This class is imported in the following styles */
.placeholder {
    font-size:12px;
    font-size:1.2rem;
}

::-webkit-input-placeholder {
    .placeholder;
}

:-moz-placeholder { /* Firefox 18- */
    .placeholder;
}

::-moz-placeholder {  /* Firefox 19+ */
    .placeholder;
}

:-ms-input-placeholder {
    .placeholder;
}

fieldset {
    margin-bottom:20px;
    border:0;
    margin-left:0;
    padding:0;
}

legend {
    font-size:20px;
    font-size:2.0rem;
    font-family:@heading;
    font-weight:bold;
}

/* Labels */
label.required::before {
    content: "*";
}

.feedback {
    font-family:@sans;
    letter-spacing:.5px;
    padding-top:2px;
    font-size:1.4rem;
    font-weight:bold;
}

div.error {
    .feedback;
    color:@red;
}

div.success {
    .feedback;
    color:@green;
}

label {
    margin-top:20px;
    display:block;
    font-size:12px;
    font-size:1.2rem;
    letter-spacing:1px;
    color:@black;
    font-weight:bold;
    text-transform:uppercase;

    &.error {
        color:@red;
    }
}

/* Text inputs and text areas */
input[type='text'], input[type='password'], input[type='email'], textarea {
    width:200px;
    border:1px solid @silver;
    display:block;
    outline: none !important; /* Kill default fuzzy blue outline on focus */
    padding:5px;
    border-radius:3px;

    &:focus {
        background-color:lighten(@yellow,30%);
        border:1px solid @gray;
    }

    &.error {
        border-left:3px solid @red;
    }

}

/* Radios and checkboxes */
label.radio,label.checkbox {
    color:@black;
    margin-bottom:5px;
    text-transform:none;
    font-weight:normal;
    padding:0;
    font-size:13px;
    font-size:1.3rem;
}

input[type='radio'],input[type='checkbox'] {
    margin-right:5px;

    /* Next two lines prevent misalignment with text */
    vertical-align: middle;
    margin-top: -2px;
}

/* Descriptive text under an individual field */
.fine-print {
    font-size: 1.4rem;
    font-family: @sans;
    display: block;
    margin-top: .2rem;
}
